@use '../foundation/variables'as v;
@use '../foundation/functions'as f;


.main {
   h1 {
      line-height: 1;

      img {
         max-width: 100%;
      }
   }

   h2 {
      @include v.rem(24);
      font-weight: bold;
      color: $color-main;
      text-align: center;
   }

   @include v.mq(pc) {
      h1 {
         img {
            max-width: 100%;
            padding: 0 2.55px 22.95px 0;
         }
      }

      h2 {
         @include v.rem(36);
      }
   }
}