@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

.l-container {
  padding: 80px 16px;//追加250113
  margin: 0 auto;
  max-width: v.$width-main;
  @include v.mq(pc) {  //追加250113
    padding-top: 110px;
    padding-bottom: 96px;
  }

}
