@use '../foundation/variables'as v;
@use '../foundation/functions'as f;


/* 講師紹介
------------------------------------------- */

.teacher-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 28px;
    padding: 0 24px;

    @include v.mq(pc) {
        flex-direction: row;
        column-gap: 32px;
        align-items: flex-start;
    }
}

.teacher-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    padding: 14px 14px 16px 14px;
    row-gap: 16px;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;

    @include v.mq(pc) {
        padding: 22px 24px;
        row-gap: 16px;
        height: 396px;
        max-width: 360px;
    }

    &--bg-orange {
        background-color: v.$color-bg-orange_light;
    }

    &--bg-yellow {
        background-color: v.$color-bg-yellow;
    }

    &__human {
        text-align: center;

        img {
            border-radius: 50%;
            margin-bottom: 4px;

            @include v.mq(pc) {
                margin-bottom: 12px;
            }
        }
    }

    &__name-text {
        @include v.rem(18);
        font-weight: 700;
        color: v.$color-sub;
        margin-bottom: 2px;
    }

    &__career-text {
        @include v.rem(14);
        font-weight: 700;
        color: v.$color-sub;
    }

    &__comment {
        background-color: v.$color-bg-white;
        padding: 8px 20px;
        border-radius: .5rem;

        @include v.mq(pc) {
            @include v.rem(16);
            padding: 8px 16px 12px;
        }
    }
}